.bike-parallax-main {
  display: flex;
  width: 100%;
  padding: 5rem;
  height: auto;
  background-color: #121212;
  align-items: center;
  margin: auto;
}

.bike-parallax-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #fff;
  justify-content: center;
  padding: 2rem;
}

.bike-parallax-image {
  flex: 1;
  height: auto;
}

.bike-parallax-para {
  width: 100%;
}

.bike-parallax-para p {
  font-family: sans-serif;
  font-size: clamp(1rem, calc(1vw + 0.5rem), 1.125rem);
  margin-bottom: 1rem;
}

.bike-parallax-custom {
  margin-bottom: -1rem;
  margin-left: -2rem;
}

@media (max-width: 1200px) {
  .bike-parallax-custom {
    margin-bottom: 0rem;
  }
}

.bike-parallax-custom span {
  font-weight: lighter;
  font-family: Michroma;
  font-size: clamp(3rem, 7vw, 7rem);
}

.bike-parallax-mechanics span {
  font-family: Inter;
  font-size: clamp(3.5rem, 5vw, 5rem);
  color: #ff1515;
  margin-bottom: 4rem;
}

.bike-parallax-image img {
  width: 100%;
  height: auto;
}

.bike-parallax-btnbox {
  display: flex;
  width: 100%;
  align-items: center;
}

.bike-parallax-btnactive,
.bike-parallax-btnsecondary {
  font-family: sans-serif;
  padding: 1rem 4rem;
  margin-right: 2rem;
}

.bike-parallax-btnactive:hover,
.bike-parallax-btnsecondary:hover {
  cursor: pointer;
}

.bike-parallax-btnactive {
  background-color: #ff1414;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bike-parallax-btnsecondary {
  border: 1px solid white;
  border-radius: 5px;
}

@media (max-width: 1100px) {
  .bike-parallax-main {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .bike-parallax-custom {
    margin-left: 0rem;
  }

  .bike-parallax-btnbox {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .bike-parallax-btnactive,
  .bike-parallax-btnsecondary {
    margin-right: 0rem;
  }

  .bike-parallax-btnactive {
    margin-bottom: 1rem;
  }

  .bike-parallax-image img {
    width: 90%;
  }
}

.standard-bike-main {
  display: flex;
  width: 100%;
  padding: 5rem;
  height: auto;
  background-color: #000;
  align-items: center;
  margin: auto;
}

.standard-bike-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #fff;
  justify-content: center;
  padding: 2rem;
}

.standard-bike-image {
  flex: 1;
  height: auto;
}

.standard-bike-para {
  width: 100%;
}

.standard-bike-para p {
  font-family: sans-serif;
  font-size: clamp(1rem, calc(1vw + 0.5rem), 1.125rem);
  margin-bottom: 1rem;
}

.standard-bike-custom {
  margin-bottom: -1rem;
}

@media (max-width: 1200px) {
  .standard-bike-custom {
    margin-bottom: 0;
  }
}

.standard-bike-custom span {
  font-weight: lighter;
  font-family: Michroma;
  font-size: clamp(3rem, 7vw, 7rem);
}

.standard-bike-mechanics span {
  font-family: Inter;
  font-size: clamp(3.5rem, 5vw, 5rem);
  color: #ff1515;
  margin-bottom: 4rem;
}

.standard-bike-image img {
  width: 100%;
  height: auto;
}

.standard-bike-btnbox {
  display: flex;
  width: 100%;
  align-items: center;
}

.standard-bike-btnactive,
.standard-bike-btnsecondary {
  font-family: sans-serif;
  padding: 1rem 4rem;
  margin-right: 2rem;
}

.standard-bike-btnactive:hover,
.standard-bike-btnsecondary:hover {
  cursor: pointer;
}

.standard-bike-btnactive {
  background-color: #ff1414;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.standard-bike-btnsecondary {
  border: 1px solid white;
  border-radius: 5px;
}

@media (max-width: 1100px) {
  .standard-bike-main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .standard-bike-btnbox {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .standard-bike-btnactive,
  .standard-bike-btnsecondary {
    margin-right: 0;
  }

  .standard-bike-btnactive {
    margin-bottom: 1rem;
  }

  .standard-bike-image img {
    width: 90%;
  }
}