.hero {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex: 1; /* Takes 50% screen width */
  color: #fff;
  justify-content: center;
  padding: 1rem 2rem;
}

.hero-image-section {
  flex: 1; /* Takes 50% screen width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.hero-para {
  width: 100%;
}

.hero-para p {
  font-family: sans-serif;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.125rem);
  margin-bottom: 1rem;
}

.custom-text {
  margin-bottom: -3rem;
}

.custom-text span {
  font-weight: lighter;
  font-family: "Michroma", sans-serif;
  font-size: clamp(3rem, 5.5vw, 6rem);
}

.mechanics-text span {
  font-family: "Inter", sans-serif;
  font-size: clamp(3.5rem, 7vw, 8rem);
  color: #ff1515;
}

.hero-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.hero-btn-primary,
.hero-btn-secondary {
  font-family: sans-serif;
  padding: 1rem 2rem;
}

.hero-btn-primary:hover,
.hero-btn-secondary:hover {
  cursor: pointer;
}

.hero-btn-primary {
  background-color: #ff1414;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hero-btn-secondary {
  border: 1px solid white;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .hero-text,
  .hero-image-section {
    width: 100%;
    flex: none;
    padding: 1rem 0;
  }

  .custom-text {
    margin-bottom: 0;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .hero-btn-primary,
  .hero-btn-secondary {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}