
.marketplace-slider {
  width: 100%;
  background-color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.marketplace-slider-inside {
  width: 90%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.marketplace-slider-inside .swiper {
  width: 100%;
}

/* Production slide/card */
.marketplace-slide {
  width: 100%;
  border-radius: 50px;
  height: 35rem;
  align-items: center;
  justify-content: center;
}

.marketplace-slide-inside {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.marketplace-slide img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}

.marketplace-slide:hover img {
  opacity: 0.5;
  transform: scale(1.01);
  cursor: pointer;
}

.marketplace-slide-inside h1 {
  position: absolute;
  color: #bebebe;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .marketplace-slide {
    height: auto;
  }
}